{% extends 'base.html.twig' %}

{% block title %}Creation de liste!{% endblock %}

{% block body %}

{% form_theme formListe 'bootstrap_5_layout.html.twig' %}

{{form_start(formListe)}} 

    {% if editMode %}
	{{ form_row ( formListe.title ) }}
	{{ form_row ( formListe.description ) }}
	{{ form_row ( formListe.contenu ) }}
	{{ form_row ( formListe.valider ) }}

<button type="submit" class="btn btn-success">
    {# condition pour modifier le btn de validation #}
    Enregistrer les modifications
</button> {{form_end(formListe)}}
    {% else %}
	{{ form_row ( formListe.title ) }}
	{{ form_row ( formListe.description ) }}
	{{ form_row ( formListe.contenu ) }}
	{% do formListe.valider.setRendered() %}
<button type="submit" class="btn btn-success">
    Enregistrer la nouvelle liste
</button> {{form_end(formListe)}}
    {% endif %}
{% endblock %}