{% extends 'base.html.twig' %} 
{% block title %}Index!{% endblock %} 
{% block body %} 
{% for liste in allListe %} 

<section>
    <div class="col-sm-6">
        <br>
        <div class="card">
            <a href="listeEnDur" style="font-size: 14px; text-decoration :none;" title="liste">
                <div class="card-body liste">
                    <p class="card-text"> Liste 1</p>
                    <br>
                    <hr> description liste 1
                    <br>
                    <hr>
                    <a href="{{ path("supprimer_liste", {"id":liste.id}) }}" style="font-size: 14px; text-decoration :none;" title="Supprimer la liste">
                    Supprimer
                </a>
                </div>
            </a>
        </div>
        <br>
    </div>
</section>

{% if liste.valider == false %}
<section>
    <div class="col-sm-6">
        <br>
        <div class="card">
            <a href="{{ path("liste_edit", {"id":liste.id}) }}" style="font-size: 14px; text-decoration :none;" title="liste">
                <div class="card-body liste">
                    <p class="card-text"> {{liste.title}}</p>
                    <br>
                    <hr> {{liste.description}}
                    <br>
                    <hr>
                    <a href="{{ path("supprimer_liste", {"id":liste.id}) }}" style="font-size: 14px; text-decoration :none;" title="Supprimer la liste">
                    Supprimer
                </a>
                </div>
            </a>
        </div>
        <br>
    </div>
</section>

{% else %}

<section>
    <div class="col-sm-6">
        <br>
        <div class="card">
        <a href="{{ path("liste_edit", {"id":liste.id}) }}" style="font-size: 14px; text-decoration :none;" title="liste">
            <div class="card-body liste">
                <p class="card-text"> <strike> {{liste.title}} </strike></p>
                <br>
                <a href="{{ path("supprimer_liste", {"id":liste.id}) }}" style="font-size: 14px; text-decoration :none;" title="Supprimer la liste">
                Supprimer
            </a>
            </div>
        </a>
        </div>
        <br>
    </div>
</section>
{% endif %}
{% endfor %}

<a class="btn btn-light" style="font-size: 32px;" href="{{path('liste_forms')}}"> + </a> {% endblock %}