{% extends 'base.html.twig' %} {% block title %}Creation de liste!{% endblock %} {% block body %}

<form>
    <div class="class=" mb-3 "">
        <label for="title">title </label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div>
        <label for="Description">Description </label>
        <input type="text" class="form-control" name="Description" id="Description">
    </div>
    <div>
        <label for="contenu">Contenu</label>
        <textarea id="contenu" class="form-control" name="contenu" style="height: 500px;"></textarea>
    </div>
    <div>
        <input type="checkbox" id="scales" name="scales"> valider
    </div>
    <buttontype="submit" class="btn btn-success">
        Enregistrer les modifications</button>

</form>

{% endblock %}