<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css"> 
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %} 
        {% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
	    <rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
    </head>
    <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href=" {{path( 'home')}} ">Home</a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarColor01 " aria-controls="navbarColor01 " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
          </button>

            <div class="collapse navbar-collapse " id="navbarColor01 ">
                <ul class="navbar-nav me-auto ">
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{path('app_security_registration')}}">inscription</a>
                    </li> #}
                    {# {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('security_login')}}">connexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('security_logout')}}">déconnexion</a>
                    </li>
                    {% endif %} #}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
    </body>
</html>
